type decrypt_file, file_type, data_file_type;
type fingerprintd_custom_service, service_manager_type;
type tmp_root_mount_file, file_type;
type fpc_data_file, core_data_file_type, data_file_type, file_type;
